/* Tailwind css import */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* Common CSS */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Outfit', sans-serif;
}

ul li {
  display: none;
}

a {
  text-decoration: none;
}

.flex_nav {
  display: flex;
  flex-direction: column;

}

@media only screen and (max-width:667px) {
  .nav_link {
    display: none;
  }

  header>div,
  .padding {
    padding: 0px 10px;
  }

  /* Rechart responsive */
  .responsive {
    display: none;
  }
}